absl-py==2.3.1
accelerate==1.11.0
addict==2.4.0
aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1741775197943/work
aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1753804962438/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1751626463503/work
albucore==0.0.24
albumentations==2.0.8
annotated-types==0.7.0
ansi2html==1.9.1
antlr4-python3-runtime==4.9.3
anyio==4.11.0
asttokens==3.0.0
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1733235340728/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1741918516150/work
backports-datetime-fromisoformat==2.0.3
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1759146011391/work
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1731096409132/work
blobfile==3.0.0
brotlicffi @ file:///croot/brotlicffi_1736182461069/work
cachetools==6.2.1
cairocffi==1.7.1
CairoSVG==2.8.2
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1762976168352/work/certifi
cffi @ file:///croot/cffi_1736182485317/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
chumpy @ git+https://github.com/mattloper/chumpy.git@51d5afd92a8ded3637553be8cef41f328a1c863a
click @ file:///home/conda/feedstock_root/build_artifacts/click_1747811314515/work
clip @ git+https://github.com/openai/CLIP.git@dcba3cb2e2827b402d2701e7e1c7d9fed8a20ef1
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
coloredlogs==15.0.1
colour-science==0.4.6
comm==0.2.2
ConfigArgParse==1.7.1
contourpy==1.3.2
cssselect2==0.8.0
cycler==0.12.1
Cython==3.1.2
dacite==1.7.0
dash @ file:///home/conda/feedstock_root/build_artifacts/dash_1752128831477/work
decorator==5.2.1
defusedxml==0.7.1
-e git+https://github.com/graphdeco-inria/diff-gaussian-rasterization.git@59f5f77e3ddbac3ed9db93ec2cfe99ed6c5d121d#egg=diff_gaussian_rasterization&subdirectory=../../../submodules/diff-gaussian-rasterization
diff_gaussian_rasterization_depth_alpha==0.0.0
distro==1.9.0
dlib @ file:///home/conda/feedstock_root/build_artifacts/dlib-split_1725133983818/work
docstring_parser==0.16
easydict==1.13
elias==0.4.18
environs==14.1.1
exceptiongroup==1.3.0
executing==2.2.0
face-alignment==1.3.4
fastjsonschema==2.21.1
fastrlock==0.8.2
filelock @ file:///croot/filelock_1744281381737/work
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1747203985407/work
flatbuffers==25.2.10
fonttools==4.53.1
freetype-py==2.5.1
frozenlist @ file:///home/conda/feedstock_root/build_artifacts/frozenlist_1752167142843/work
fsspec==2025.10.0
ftfy==6.3.1
fused==0.0.0
fvcore==0.1.5.post20221221
gdown @ file:///home/conda/feedstock_root/build_artifacts/gdown_1734276819611/work
glfw==2.4.0
gmpy2 @ file:///croot/gmpy2_1738085463648/work
google-auth==2.43.0
google-genai==1.49.0
grpcio==1.73.1
h11==0.16.0
hf-xet==1.2.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.1.4
humanfriendly==10.0
idna==3.11
ImageIO==2.37.2
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1747934053/work
insightface==0.7
iopath==0.1.10
ipython==8.37.0
ipywidgets==8.1.7
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1733308265247/work
jax==0.6.2
jaxlib==0.6.2
jaxtyping==0.3.2
jedi==0.19.2
Jinja2 @ file:///croot/jinja2_1741710844255/work
jiter==0.12.0
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1691577114857/work
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
jupyter_core==5.8.1
jupyterlab_widgets==3.0.15
kiwisolver==1.4.5
kornia==0.8.1
kornia_rs==0.1.9
lazy_loader==0.4
libigl==2.5.0
llvmlite==0.44.0
lmdb==1.7.3
loguru==0.7.2
lpips==0.1.4
lxml==6.0.0
Markdown==3.8.2
markdown-it-py==3.0.0
MarkupSafe @ file:///croot/markupsafe_1738584038848/work
marshmallow==4.0.0
matplotlib==3.10.3
matplotlib-inline==0.1.7
mdurl==0.1.2
mediapipe==0.10.5
mkl-service==2.4.0
mkl_fft @ file:///io/mkl313/mkl_fft_1730824109137/work
mkl_random @ file:///io/mkl313/mkl_random_1730823916628/work
ml_dtypes==0.5.1
more-itertools==10.7.0
mpi4py @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_mpi4py_1746789207/work
mpmath @ file:///croot/mpmath_1690848262763/work
msgpack @ file:///home/conda/feedstock_root/build_artifacts/msgpack-python_1749813185825/work
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1751310558090/work
narwhals==1.46.0
nbformat==5.10.4
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
networkx @ file:///croot/networkx_1737039604450/work
ninja==1.11.1.4
numba==0.61.2
numpy @ file:///croot/numpy_and_numpy_base_1708638617955/work/dist/numpy-1.26.4-cp310-cp310-linux_x86_64.whl#sha256=d8cd837ed43e87f77e6efaa08e8de927ca030a1c9c5d04624432d6fb9a74a5ee
nvdiffrast @ git+https://github.com/NVlabs/nvdiffrast.git@729261dc64c4241ea36efda84fbf532cc8b425b8
omegaconf==2.3.0
onnx==1.13.0
onnxruntime==1.13.1
open3d==0.18.0
open3d-cpu @ file:///home/conda/feedstock_root/build_artifacts/open3d_1717499078464/work/build/lib/python_package/pip_package/open3d_cpu-0.18.0%2Bea9db05-cp310-cp310-manylinux_2_17_x86_64.whl#sha256=433abff6a6ded657424ccd354151b36e87ee6e2b1507a23132dbbfadc8053d6c
openai==2.7.1
opencv-contrib-python==4.11.0.86
opencv-python==4.9.0.80
opencv-python-headless==4.12.0.88
opt_einsum==3.4.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas==2.3.1
parso==0.8.4
pexpect==4.9.0
pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1712154467551/work
pillow-avif-plugin==1.4.6
platformdirs==4.3.8
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1751025118896/work
plyfile==1.0.3
portalocker==3.2.0
posevocab_custom_ops==0.0.0
prettytable==3.16.0
prompt_toolkit==3.0.51
propcache @ file:///home/conda/feedstock_root/build_artifacts/propcache_1744524934684/work
protobuf==3.20.3
psutil==7.1.3
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycryptodomex==3.23.0
pydantic==2.11.7
pydantic_core==2.33.2
Pygments==2.19.1
PyMCubes==0.1.4
PyOpenGL==3.1.0
pyparsing==3.2.3
pyquaternion==0.9.9
pyrender==0.1.45
PySocks @ file:///home/builder/ci_310/pysocks_1640793678128/work
python-dateutil==2.9.0.post0
pytorch3d==0.7.5
pytz==2025.2
PyYAML @ file:///croot/pyyaml_1728657952215/work
referencing==0.36.2
regex==2025.11.3
requests @ file:///croot/requests_1750426329888/work
retrying==1.4.0
rich==14.0.0
root_finding==0.0.0
rpds-py==0.26.0
rsa==4.9.1
safetensors==0.6.2
scikit-image==0.25.2
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1701931992027/work
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1739790642651/work/dist/scipy-1.15.2-cp310-cp310-linux_x86_64.whl#sha256=9e52bad6c3294d1a5b04a13632118ca2157130603c6c018c2d710162b223b27e
screeninfo==0.8.1
sentencepiece==0.2.0
shapely==2.1.2
shellingham==1.5.4
shtab==1.7.2
silberstral==0.2.3
-e git+https://gitlab.inria.fr/bkerbl/simple-knn.git@f155ec04131cb579f53443a06879d37115f4612f#egg=simple_knn&subdirectory=../../../submodules/simple-knn
simsimd==6.5.0
six==1.17.0
smplx==0.1.28
sniffio==1.3.1
sounddevice==0.5.2
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1756330469801/work
stack-data==0.6.3
stringzilla==3.12.5
sympy @ file:///croot/sympy_1738108488918/work
tabulate==0.9.0
tenacity==9.1.2
tensorboard==2.19.0
tensorboard-data-server==0.7.2
termcolor==3.1.0
testfixtures==8.3.0
threadpoolctl==3.6.0
tifffile==2025.5.10
tinycss2==1.4.0
torch==2.1.1
torchaudio==2.1.1
torchvision==0.16.1
torchxrayvision==1.3.5
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
traitlets==5.14.3
trimesh==4.1.7
triton==2.1.0
typeguard==4.4.2
typer-slim==0.20.0
typing-inspection==0.4.1
typing_extensions @ file:///croot/typing_extensions_1734714854207/work
tzdata==2025.2
upfirdn2d==0.0.0
urllib3 @ file:///croot/urllib3_1750775463400/work
vtk==9.2.6
wadler_lindig==0.1.6
wcwidth==0.2.13
webencodings==0.5.1
websockets==15.0.1
Werkzeug==3.1.3
widgetsnbextension==4.0.14
wslink @ file:///home/conda/feedstock_root/build_artifacts/wslink_1747717868707/work
yacs==0.1.8
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1749554822108/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1749421620841/work
